body {
    width: 100%;
    background-image: url(../img/fundo.png);
    margin-left: 0px;
margin: 0;
    max-width: 100%;
	height:100%;
}




.tbacknav {
    width: 100%;
    height: 114px;
    background-image: url(../img/barra2.png);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.tnavtit {
    position: absolute;
    top: 11px;
    left: 15px;
}
.tnavtis {
    display: none;
}
.tnavips {
    position: absolute;
    height: 53px;
    top: 11px;
    right: 10px;
}
.home {
    position: relative;
    height: 43px;
    left: 47%;
    cursor: pointer;
}
@media (max-width: 680px) {
    .tnavtit {
        display: none !important
    }
}
@media (max-width: 680px) {
    .tnavtis {
        display: block !important
    }
}
.hobox {
    position: relative;
    top: 71px;
    left: 0px;
    height: 43px;
    max-width: 198px;
    width: 10%;
}
.botoes {
    position: relative;
    top: 30px;
    left: 12%;
    height: 55px;
    max-width: 543px;
    width: 35%;
    display: inline-block;
}
.tpd {
    z-index: 2;
    font: bold 12px sans-serif;
    display: block;
    position: relative;
    padding: 20px 30px;
    background: #444444;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.firstm {
    padding: 0;
    position: absolute;
    top: 36px;
    left: 0;
    width: 180px;
    display: none;
}
_:-moz-tree-row(hover),
.firstm {
    top: 40px;
}
.tpd:hover {
    background: #666;
}
.botoes ul li:hover .firstm {
    display: block;
}
.b1 {
    position: absolute;
    left: 0px;
    bottom: 12px;
}
.b1t {
    position: absolute;
    left: 0px;
    bottom: 14px;
    padding-bottom: 4px;
}
_:-moz-tree-row(hover),
.b1t {
    padding-bottom: 0px;
}
.b1s {
    display: none;
    bottom: -2px;
}
.b2 {
    position: absolute;
    left: 180px;
    bottom: 12px;
}
.b2t {
    position: absolute;
    left: 180px;
    bottom: 14px;
    padding-bottom: 4px;
}
_:-moz-tree-row(hover),
.b2t {
    padding-bottom: 0px;
}
.b2s {
    display: none;
    bottom: -2px;
}
.b3 {
    position: absolute;
    left: 360px;
    bottom: 12px;
}
.b3t {
    position: absolute;
    left: 360px;
    bottom: 14px;
    padding-bottom: 4px;
}
_:-moz-tree-row(hover),
.b3t {
    padding-bottom: 0px;
}
.b3s {
    display: none;
    bottom: -2px;
}
.extra {
    position: absolute;
    top: 30px;
    right: 0px;
    max-width: 300px;
    width: 10%;
    z-index: 2;
}
.inf {
    position: absolute;
    width: 20px;
    top: 44px;
    right: 10px;
    cursor: pointer;
}
.b4 {
    position: absolute;
    height: 38px;
    top: 44px;
    right: 40px;
    bottom: 12px;
}
.b4s {
    display: none;
    top: 45px;
}
.b5 {
    position: absolute;
    height: 38px;
    top: 44px;
    right: 164px;
    bottom: 12px;
}
.b5s {
    display: none;
    top: 45px;
}
li {
    display: inline-block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
li:hover {
    background: #4C4C4C;
}
@media (max-width: 755px) {
    .hide {
        display: none !important
    }
}
@media (max-width: 755px) {
    .b1s {
        display: block !important;
        left: 0px !important;
    }
}
@media (max-width: 755px) {
    #firstm {
        top: 0px !important
    }
}
@media (max-width: 755px) {
    .b2s {
        display: block !important;
        left: -126px !important;
    }
}
@media (max-width: 755px) {
    .b3s {
        display: block!important;
        left: -252px!important;
    }
}
@media (max-width: 1440px) {
    #barral {
        width: 13%!important;
    }
}
@media (max-width: 1070px) {
    #barral {
        display: none!important;
    }
}
@media (max-width: 1070px) {
    #txt {
        margin-left: 5%!important;
    }
}
@media (max-width: 1150px) {
    .b4 {
        display: none !important
    }
}
@media (max-width: 1150px) {
    .b4s {
        display: block !important
    }
}
@media (max-width: 1150px) {
    .b5 {
        display: none !important
    }
}
@media (max-width: 1150px) {
    .b5s {
        right: 77px !important
    }
}
@media (max-width: 1150px) {
    .b5s {
        display: block !important
    }
}
@media (max-width: 1140px) {
    .home {
        left: 40% !important
    }
}
@media (max-width: 680px) {
    .home {
        left: 25% !important
    }
}
@media (max-width: 440px) {
    .botoes {
        left: 55px !important
    }
}
#drops {
    position: relative;
    top: 15px;
    left: 12%;
    height: 55px;
    max-width: 543px;
    width: 35%;
}
#barral {
    z-index: 0;
    width: 200px;
    height: 600px;
    position: fixed;
    top: 0;
    top: 110px;
    left: 0px;
}
#tebox {
    top: 10px;
    width: 100%;
    position: relative;
}
#pt {
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 132px;
}
#pt2 {
    position: fixed;
    left: 0px;
    z-index: 0;
    top: 132px;
}
#txt {
    margin-left: 3%;
    margin-top: 30px;
    margin-right: 30px;
}
.tt {
    font: 80px Verdana, sans-serif;
    color: #595959;
    margin: auto;
    text-shadow: 1px 1px #4E4E4E;
}
.tx {
    font: 30px Verdana, sans-serif;
    color: #595959;
}
.tpd2 {
    z-index: 2;
    font: bold 12px Verdana, sans-serif;
    display: inline-block;
    text-decoration: none !important;
    margin: 0px 15px 0px 15px;
    padding: 6px 16px;
    background: #444444;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.tpd2:hover {
    background: #666;
}

.dirhtml {
    width: 43%;
	min-width: 360px;
    text-align: center;
    background: #f1f1f1;
    display: block;
    height: 100%;
    padding: 20px 15px 0px 0px;
    position: absolute;
    top: -10px;
    left: 56%;
    border-radius: 25px;
}
.tib {
    text-align: left;
    background: #FFFFFF;
    width: 75%;
	min-height:140px;
    min-width: 270px;
    margin: 0 auto;
    padding: 15px 0px 10px 10%;
    margin-top: 50px;
    border-left: 10px solid #D4D4D4;
    border-radius: 25px;
}
#thtml {
    position: relative;
    height: 700px;
    box-shadow: 0 2px 4px 0 #969696;
    top: 30px;
    border-radius: 25px;
	margin-bottom:100px;
}
.ex {
    margin-left: 10%;
    top: 20px;
    font: 20px Verdana, sans-serif;
    color: #595959;
    position: absolute;
}

a:link {
    text-decoration: none;
}


			#limites {
				position: absolute;
				border: 2px solid black;
				width: 53%;
				height: 96%;
				display: block;
				left:1%;
				top:2%;
				 border-radius: 30px;
			}
			
			#quadrado {
				position: absolute;
				width: 50px;
				height: 50px;
				background-color: black;
				top: 50px;
				left: 50px;
				transition: top 1s, left 1s;
				border-radius: 50px;
				
			}
			
			#controls {   
    background: #FFFFFF;
    width: 75%;
	height:400px;
    min-width: 360px;
    margin: 0 auto;

    margin-top: 50px;
	position:relative;
    border-left: 10px solid #D4D4D4;
    border-radius: 25px;}
	
	#red{height:50px;background-color:red; width:100px;position:absolute;left:15px;top:30px;border-radius: 25px;}
	
	#green{height:50px;background-color:green; width:100px;position:absolute; left: calc(50% - 50px);top:30px;border-radius: 25px;}
	
	#blue{height:50px;background-color:blue; width:100px;position:absolute; right:15px;top:30px;border-radius: 25px;}
	
	#sred{position:absolute;top:200px;width:100px;left:5px;top:90px;}
	
	#sgreen{position:absolute;top:200px;width:100px;left:calc(50% - 60px);top:90px;}
	
	#sblue {position:absolute;top:200px;width:100px;right:5px;top:90px;}
	
	#salph{position:absolute;top:200px;width:100px;left:calc(50% - 60px);top:145px;}
	
			#testt{display:inline;}
			#testl{display:inline;}
			#vr{display:inline;}
			#vg{display:inline;}
			#vb{display:inline;}
			#testh{display:inline;}
			#testw{display:inline;}
			#testbr{display:inline;}
			#ph{display:inline;}
			#nm{display:inline;}
			
			#deg{width:100px;height:20px;position:absolute;top:120px;left: calc(50% - 50px);}


			
			#cdtxt{position:relative;left:50px;}
			
			#rmt{width:130px;position:absolute;left: calc(50% - 60px);bottom:30px;}
			#lft{width:32.5px;margin:7px 3px 3px 3px;}
			#mah{width:33px;margin:3px 3px 3px 3px;}
			#mar{width:33px;margin:3px 3px 3px 3px;}
			#maw{width:33px;margin:3px 3px 3px 3px;}
			#meh{width:33px;margin:3px 3px 3px 3px;}
			#mer{width:33px;margin:3px 3px 3px 3px;}
			#mew{width:33px;margin:3px 3px 3px 3px;}
			#res{width:33px;margin:3px 3px 3px 3px;}
			#rght{width:33px;margin:7px 3px 3px 3px;}
			#up{width:99px;margin:3px 3px 3px 3px;}
			#bx{width:99px;margin:3px 3px 3px 3px;}

			
#popupContact {
    position: absolute;
    left: 50%;
    top: 17%;
    margin-left: -202px;
	font-family: 'Raleway', sans-serif;}
	
	
	#abc {
    width: 100%;
    height: 100%;
    opacity: 0.95;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto;
	z-index:10;
}


#form {
    max-width: 300px;
    min-width: 250px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
	
	
    font-family: raleway;
    background-color: white;
	z-index:11;
}

img#close {
    position: absolute;
    right: -14px;
    top: -14px;
    cursor: pointer;
}

input[type="text"] {
    width: 82%;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px;
    font-family: raleway;
}
textarea {
    background-image: url('../img/msg.png');
    background-repeat: no-repeat;
    background-position: 5px 3px;
    width: 82%;
    height: 95px;
    padding: 10px;
    resize: none;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px;
    font-family: raleway;
    margin-bottom: 30px;
}

#submit {
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: block;
    background-color: peru;
    color: white;
    border: 1px solid #FFCB00;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#name {
    background-image: url('../img/user.png');
    background-repeat: no-repeat;
    background-position: 5px 3px;
}

#email {
    background-image: url('../img/mail.png');
    background-repeat: no-repeat;
    background-position: 5px 3px;
}
#ttop {
    width: 40px;
    height: 65px;
    position: fixed;
    bottom: -25px;
    right: 3%;
	display:none;
    line-height: 40px;
    text-align: center;
    font-size: 10px;
    z-index: 9999;
    color: #fff;
    background: peru;
    transition: all ease-in 0.2s;
	opacity: 1;}